body{
    margin: 0;
    padding: 0;
}
header{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 100px;
    width: 150px;
}

.items{
    margin-right: 35rem;
    font-size: small;
}

.items a{
    padding: 8px 6px;
    text-decoration: none;
    color: grey;
}

.items a:hover{
    color: black;
    text-decoration: underline;
    transition: ease-in-out 0.1s;
}

.items i{
    margin-left : 5px;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons a{
    padding: 8px 6px;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    color: black;
}




/* container */

.container{
    padding: 50px 40px 50px;
}


/* Incense */

